@charset "utf-8";
html{color:#000;background:#fff;-webkit-text-size-adjust:none;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
{margin:0;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
body,button,input,select,textarea{color: #333;font:normal 12px/1.5em Microsoft YaHei,YouYuan,Arial,\5b8b\4f53,sans-serif;}
input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
th{text-align:inherit;}
fieldset,img{border:0;}
iframe{display:block;}
abbr,acronym{border:0;font-variant:normal;}
del{text-decoration:line-through;}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:700;}
q:before,q:after{content:'';}
sub, sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
ins,a{text-decoration:none;}
textarea{resize:vertical;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;margin:0;}
:focus{outline:0}
/* 隐藏, 通常用来与 JS 配合 */
body .hidden,body .shady{display:none}
/*input,select{vertical-align:middle;}*/
.fleft,.fright{display:inline;}
.fleft{float:left}
.fright{float:right}
.fclear{clear:both}
.tleft{text-align:left}
.tright{text-align:right}
.tcenter{text-align:center}
/* 清浮动 */
.clear{clear:both;height:1px;margin:0;padding:0;font-size:15px;line-height:1px;}
.clear:after,.clearfix:after,.content:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear,.clearfix,.content{*zoom:1;}
a:link,a:visited{color: #678ace;text-decoration:underline;}
a:hover{color:#06c;text-decoration:none;}
.red,.red:link,.red:visited{color:#f8383a}
.gray,.gray:link,.gray:visited{color:#7b7b7b;}
a.gray:hover{color:#26A;}
.bold,.bold:link,.bold:visited{font-weight:bold}
.underline,.underline:link,.underline:visited{text-decoration:underline;}


/* Background
---------------------------------------------------------------------------------------*/
html{background-color: #313236;}


/* Comm
---------------------------------------------------------------------------------------*/
.page{min-width:1000px;background-color: #e9eaeb;}
html, body, {height: 100%;}
body > .contnet{height: auto; min-height: 100%;}
.page {/*padding-bottom:64px;*/}  /* 必须使用和footer相同的高度 */
.footer {clear:both;position: relative;margin-top: -64px; /* footer高度的负值 */}


/*-- .header --*/
.header{position: relative;color: #fff;min-height:80px;_height:80px;padding:12px;background-color: #678ace;
	/* css3 box-shadow */
	-webkit-box-shadow:inset 0px -1px 4px #4f6eaa;
	   -moz-box-shadow:inset 0px -1px 4px #4f6eaa;
	        box-shadow:inset 0px -1px 4px #4f6eaa;
	filter: /* IE6–IE8 */
		progid:DXImageTransform.Microsoft.Shadow(color=#333333, direction=0, strength=0)
		progid:DXImageTransform.Microsoft.Shadow(color=#ff0000, direction=90, strength=5) 
		progid:DXImageTransform.Microsoft.Shadow(color=#333333, direction=180, strength=5)
		progid:DXImageTransform.Microsoft.Shadow(color=#333333, direction=270, strength=0);
	
}
	.mtitle{color: #fff;font:normal 2.2em Microsoft YaHei,YouYuan,Arial,\5b8b\4f53,sans-serif;
		/* text-shadow */
		text-shadow:1px 1px 1px #375795; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
		filter: /* IE6–IE9 */
			progid:DXImageTransform.Microsoft.MotionBlur(strength=1, direction=220)
			progid:DXImageTransform.Microsoft.Blur(pixelradius=0)
			dropshadow(color=#375795, offx=1, offy=1);
	}
	.header a:link,.header a:visited{color: #fff;}
	.navigation{position: absolute;left:12px;bottom:0;}
		.nav-ul{}
			.nav-ul li{float: left;height:2.5em;font-size:1.2em;line-height:2.5em;margin:0 0.5em 0 0;background-color: #232427;
				border-top-left-radius:0.5em;border-top-right-radius:0.5em;
			}
			.nav-ul a{display: block;padding:0 3em;height:100%;text-align: center;
				border-top-left-radius:0.5em;border-top-right-radius:0.5em;
			}
			.nav-ul a:link,.nav-ul a:visited{text-decoration: none;}
			.nav-ul a:hover{background-color: #333;}
	.user-info{position: absolute;right:12px;top:16px;}
		.user-info-avatar{float: left;width:36px;margin:0 10px 0 0;}
		.user-info-avatar img{border-radius:1em;}
		.user-info-txt{overflow: hidden;*zoom:1;}

/*-- .content --*/
.content{padding:12px 12px 70px 12px;}
	.empty-data{margin:0 0 1em;padding:4em 1em;background-color: #f4f4f4;border: 1px solid #dcdcde;}
	.empty-data p{text-align: center;font-size: 1.2em;}


/*-- .footer --*/
.footer{color: #fff;height:40px;padding:12px;background-color: #313236;}
	.footer .copyright{padding-top:10px;}


/* Module
---------------------------------------------------------------------------------------*/
#calendar {width: 940px; /*width:90%;*/}
.fc-event:link,.fc-event:visited,.fc-event:hover{color: #fff;}

/*-- c-box --*/
.c-box{margin-bottom:1em;}
	.c-box-hd{overflow: hidden;*zoom:1;padding:0.5em 0;margin:0 0 0.5em;border-bottom: 1px solid #d1d4da;}
	.c-box-hd-title{float: left;}
	.c-box-hd-title h3{display: inline;float:left;line-height:1.5em;margin:0 1em 0 0;color: #000;font-size: 1.2em;}
	.c-box-hd-title .search-form{float:left;}
	.c-box-hd-title .inp-txt{line-height: 16px;height: 16px;padding:4px 8px;width:180px;border:none;*border:1px solid #eee;
		/* css3 box-shadow */
		-webkit-box-shadow:0px 1px 1px #ccc;
		   -moz-box-shadow:0px 1px 1px #ccc;
		        box-shadow:0px 1px 1px #ccc;
		
	}
	.c-box-hd-extra{float: right;}
	.c-box-hd-extra .tips{color: #ff6600;}
	.c-box-bd{background-color: #fff;padding:12px;min-height:100px;
		/* css3 box-shadow */
		-webkit-box-shadow:0px 1px 2px #d9dbe0;
		   -moz-box-shadow:0px 1px 2px #d9dbe0;
		        box-shadow:0px 1px 2px #d9dbe0;
	}

/*-- m-table-data --*/
.m-table-data{border-collapse:collapse;width:100%;border-left:1px solid #dcdcde;border-top:1px solid #dcdcde;margin:0 0 1em;}
	.m-table-data th,.m-table-data td{padding:4px 8px;line-height: 28px;border-right:1px solid #dcdcde;border-bottom:1px solid #dcdcde;}
	.m-table-data th{background-color: #eee;}
	.tcenter td{text-align: center;}

/*-- m-btn --*/
.m-btn{display: inline-block;*display: inline; *zoom:1;background-color: #999;color: #fff;font-weight: bold;font-size:1.2em;line-height: 2em;height:2em;text-align: center;padding:0 1.5em;
	        border-radius:4px;
}
.m-btn:link,.m-btn:visited,.m-btn:hover{color: #fff;text-decoration: none;}
.m-btn:hover{ opacity:0.8;filter:alpha(opacity=80);}
.btn-skin-0{
 	background-color: #666;
		/* css3 box-shadow */
	-webkit-box-shadow:0px 1px 1px #ccc;
	   -moz-box-shadow:0px 1px 1px #ccc;
	        box-shadow:0px 1px 1px #ccc;
}
.btn-skin-1{
 	background-color: #678ace;
		/* css3 box-shadow */
	-webkit-box-shadow:0px 1px 1px #6080bf;
	   -moz-box-shadow:0px 1px 1px #6080bf;
	        box-shadow:0px 1px 1px #6080bf;
}

/*-- m-page --*/
.m-page{clear:both;font-family:Tahoma;text-align:center;padding:2em 0;}
	.m-page-total,.m-page-pn,.m-page-pn span,.m-page-pn a{display:inline-block;*display:inline;*zoom:1;}
	.m-page-total{vertical-align:middle;color:#7b7b7b;padding:2px 0;}
	.m-page-total span{margin-right:6px;}
	.m-page-pn{margin:0;vertical-align:top;}
	.m-page-pn span,.m-page-pn a{padding:2px 5px;text-decoration:none;vertical-align: top;}
	.m-page-pn a:link,.m-page-pn a:visited{color:#333;}
	.m-page-pn a:hover, .m-page-pn a:active{color:#fff;background-color:#fc0000;text-decoration:none;}
	.m-page-pn-current{font-weight:bold;color:#7b7b7b;}
	.m-page-pn-disabled{color:#7b7b7b;}
	.page-skin-0{}
		.page-skin-0 .m-page-total{padding: 4px 0 0 0;}
		.page-skin-0 .m-page-pn a,.page-skin-0 .m-page-pn-current{margin:0 3px;padding:3px 7px;border: 1px solid #cecece;font-weight: bold;background-color: #fff;}
		.page-skin-0 .m-page-pn .m-page-pn-disabled:link,
		.page-skin-0 .m-page-pn .m-page-pn-disabled:visited,
		.page-skin-0 .m-page-pn .m-page-pn-disabled:hover{background-color: #fff;border: 1px solid #fff;}
		.page-skin-0 .m-page-pn a:link, .page-skin-0 .m-page-pn a:visited{color:#666;}
		.page-skin-0 .m-page-pn a:hover,.page-skin-0 .m-page-pn a:active,.page-skin-0 .m-page-pn_current{background-image:none;background-color:#7b7b7b;border-color: #7b7b7b;color:#ffffff;}
		.page-skin-0 .m-page-pn .m-page-pn-disabled:link,
		.page-skin-0 .m-page-pn .m-page-pn-disabled:visited,
		.page-skin-0 .m-page-pn .m-page-pn-disabled:hover{color:#666;cursor:default;}

/* index
----------------------------------------------------------------------------------------*/



/* prd-task-list
---------------------------------------------------------------------------------------*/
.prd-task-table{}
	.prd-task-table .c1{width:10%;}
	.prd-task-table .c2{width:30%;}
	.prd-task-table .c3{width:8%;text-align: center;}
	.prd-task-table .c4{width:8%;}
	.prd-task-table .c5{width:8%;}
	.prd-task-table .c6{width:20%;}


/* task-create-table
---------------------------------------------------------------------------------------*/
.



