extends layout

block content
  //- h1= title
  //- p Welcome to #{title}

  //- [c-box:快速导航]
  div.c-box
    .c-box-hd.quick-nav-home
      .c-box-hd-title
        h3 快速导航
    .c-box-bd
      ul.quick-nav-home-ul
        li
          a(href='/task/create')
            i.icon.icon-bulb
            | 新建需求
          i.heightlight
        li
          a(href='http://qcp.oa.com', target='_blank')
            i.icon.icon-bulb
            | 新建CP需求
          i.heightlight
        li
          a(href='/task')
            i.icon.icon-eye
            | 查看需求列表
          i.heightlight

  //- [c-box:系统介绍]
  div.c-box.system-intro
    .c-box-hd
      .c-box-hd-title
        h3 本周需求情况
    .c-box-bd
      //- p
        | 互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍。
      fieldset.calendar-task-hint
        legend.cth-title 需求示例
        ul.cth-list
          li
            span.cth-task 内部需求
          li
            span.cth-cp CP需求
          li
            span.cth-finish 已上线需求（内部、CP）
      #calendar(data-roles="#{roles}",data-staff="#{formData?formData.advFilterStaff:''}")




  //- [c-box:使用入门]
  div.c-box
    .c-box-hd.quick-nav-home
      .c-box-hd-title
        h3 使用入门
    .c-box-bd            
      div.get-started
        fieldset.get-started-box
          legend 产品/品牌经理 入门
          dl
            dt 5分钟教你如何录入需求
            dd
              a(href="http://v.qq.com/boke/page/g/7/d/g0126rhbl7d.html",target="blank") 观看视频
            dt.gray 3分钟教你查看及更新需求？（敬请期待）
            dt.gray ...
        fieldset.get-started-box
          legend 设计/重构/动画师 入门
          dl
            dt 5分钟教你如何录入需求
            dd
              a(href="http://v.qq.com/boke/page/g/7/d/g0126rhbl7d.html",target="blank") 观看视频
            dt.gray 3分钟教你查看及更新需求？（敬请期待）
            dt.gray ...

block pageScript
  link(rel='stylesheet', href='/js/fullcalendar/fullcalendar.css')
  script(src="/js/fullcalendar/fullcalendar.js")
  script(src="/js/app/index/index.js")