extends layout

block content
  //- h1= title
  //- p Welcome to #{title}

  //- [c-box:系统介绍]
  div.c-box.system-intro
    .c-box-hd
      .c-box-hd-title
        h3 系统介绍
    .c-box-bd
      p
        | 互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍，互娱市场部网站设计中心需求发布管理系统介绍。

  //- [c-box:快速导航]
  div.c-box
    .c-box-hd.quick-nav-home
      .c-box-hd-title
        h3 快速导航
    .c-box-bd
      ul.quick-nav-home-ul
        li
          a(href='/task/create') 新建需求
          i.heightlight
        li
          a(href='http://qcp.oa.com', target='_blank') 新建CP需求
          i.heightlight
        li
          a(href='/task') 查看需求列表
          i.heightlight
block pageScript
  script.
    (function(){
      $(".nav-ul li").eq(0).addClass("current");
    })()