extends layout

block content
  //- [c-box:产品需求列表]
  .c-box
    .c-box-hd.task-list
      .c-box-hd-title
        h3 新建需求
      .c-box-hd-extra
        a.m-btn.btn-skin-1(href='#') 返回需求列表
    .c-box-bd
      //- - form#taskCreateForm(method="POST")
      form#taskCreateForm(method="POST",action="/task/created")
        table#taskCreateTable.m-table-data.task-create-table
          colgroup
            col.c1
            col.c2
            col.c3
            col.c4
            col.c5
            col.c6
            col.c7
            col.c8
          thead
            tr
              th 项目
              th 需求标题
              th 优先级
              th.tcenter 重点需求
              th 网站人员
              th 期望重构开始时间
              th 期望重构完成时间
              th 上线时间
          tbody
            tr.data-line
              td
                select#taskTitle-1(name='type')
                  option(value='', selected='selected') 选择项目
                  if pj.length
                    for project in pj
                      option(value='#{project.name}')= project.name
              td
                input.m-input.inp-txt(type='text',name='title', placeholder='需求标题这里')
              td
                select#priorityLv-2(name='priority')
                  option(value='0', selected='selected') P0
                  option(value='1') P1
                  option(value='2') P2
                  option(value='3') P3
                  option(value='4') P4
              td.tcenter
                //- input(type='checkbox',name='focus',value='false')
                <select name="focus"><option value="false" selected>否</option><option value="true">是</option></select>
                //- input(type='hidden', name="focus", value='false')
                //- var today = new Date();
                input(type='hidden', name="create_date", value='#{Date()}')
                input(type='hidden', name="status", value='0')
                input(type='hidden', name="progress", value='0')
              td
                input.m-input.inp-txt(type='text', name='pp', placeholder='rtx英文名，多个请用逗号隔开')
              td
                input.m-input.inp-txt.date-picker(type='text', name='rb_star_date', placeholder='0000-00-00')
              td
                input.m-input.inp-txt.date-picker(type='text', name='rb_end_date', placeholder='0000-00-00')
              td
                input.m-input.inp-txt.date-picker(type='text', name='online_date', placeholder='0000-00-00')
            //- 插入多一行数据的tr模板
            tr#insertTr.hidden
              - console.log(pj);
              td
                select#taskTitle-nnn(name='type')
                  option(value='', selected='selected') 选择项目
                  if pj.length
                    for project in pj
                      option(value='#{project.name}')= project.name
                  //- option(value='TGP') TGP
                  //- option(value='TGA') TGA
                  //- option(value='lol') 英雄联盟
                  //- option(value='speed') QQ飞车
              td
                input.m-input.inp-txt(type='text',name='title', placeholder='需求标题这里')
              td
                select#priorityLv-nnn(name='priority')
                  option(value='0', selected='selected') P0
                  option(value='1') P1
                  option(value='2') P2
                  option(value='3') P3
                  option(value='4') P4
              td.tcenter
                <select name="focus"><option value="false" selected>否</option><option value="true">是</option></select>
                //- var today = new Date();
                input(type='hidden', name="create_date", value='#{Date()} ')
                input(type='hidden', name="status", value='0')
                input(type='hidden', name="progress", value='0')
              td
                input.m-input.inp-txt(type='text', name='pp', placeholder='rtx英文名，多个请用逗号隔开')
              td
                input.m-input.inp-txt.date-picker-insert(type='text', name='rb_star_date', placeholder='0000-00-00')
              td
                input.m-input.inp-txt.date-picker-insert(type='text', name='rb_end_date', placeholder='0000-00-00')
              td
                input.m-input.inp-txt.date-picker-insert(type='text', name='online_date', placeholder='0000-00-00')
       
        .task-create-status
          a#btnAppendTask.m-btn.btn-append-task(href='javascript:;') (+)增加1行需求
          p.red.tips
            | Tip:如果需求细节修改，请在完成发布后进入“
            a(href='#') 需求详情页
            | ”进行编辑
        .task-create-btn
          input.m-btn.btn-skin-1.btn-submit(type='submit', value='确认发布')
          a.m-btn.btn-skin-2(href='#') 导入需求
          a(href='#') （下载excal模板）
        div
          textarea#outputTemp.m-input(name="outputTemp",rows="4",cols="160")

block pageScript
  script(src="/js/jquery/jquery.json-2.4.js")
  script.
    (function(){
      function onDomReady(){
        //- datePicker init
        //- $('<link rel="stylesheet" href="/css/jquery-ui.min.css">').appendTo($('head'));
        //- $.getScript('/js/jquery/jquery-ui.min.js', function(){
        //-   $('.date-picker').datepicker({ dateFormat: "yy-mm-dd" });
        //- });
        //- current nav 
        $(".nav-ul li").eq(1).addClass("current");

        $('.date-picker').datepicker({ dateFormat: "yy-mm-dd" });

        //- Setting the value of checkbox to true or false
        $( "#taskCreateForm" ).delegate( "input[name='focus']", "change", function() {
          if($(this).attr('checked')){
              $(this).val('true');
           }else{
              $(this).val('false');
           }
        });

        //- add one line form ------------------------
        $("#btnAppendTask").click(function(){
          var $taskCreateTable = $("#taskCreateTable");
          //- var appendHtml = $("#taskCreateTable tbody tr:last-child(callback)").html(),
          var appendHtml = $("#insertTr").html(),
              appendHtmlModi = appendHtml.replace(/task--/g ,"task" ),
              appendHtmlModi = appendHtmlModi.replace(/date-picker-insert/g ,"date-picker-in" ),
              appendHtmlPro = "<tr class='data-line'>"+ appendHtmlModi +"</tr>";
          $("#taskCreateTable tbody").append(appendHtmlPro);
          //- console.log("inset one line");
          $('.date-picker-in').datepicker({ dateFormat: "yy-mm-dd" });

          //- 插入条数记数
          //- var $recordNum = $('#recordNum');
          //- $recordNum.val(parseInt($recordNum.val())+1)
          //- console.log($recordNum.val());
        })

        //- Submit func ------------------------
        $("#taskCreateForm").on('submit',function(e){
          //- 提交前删除 tr模板代码;
          $("#insertTr").remove();

          //- 表单数据处理成 [{},{},{}……] 的格式
          var data = $(this).serializeArray(),
              data2 = [],
              trNum = $(this).find("tr.data-line").length,
              //- 重要，慎改！设定1行tr有多少个表单值；
              objectNum = 11;
          for(var j = 1 ; j<=trNum; j++ ){
            var dd = {},
                star = (j-1)*objectNum;
            for( var i = star; i<j*objectNum; i++ ){
              dd[data[i].name] = data[i].value;
            }
            data2.push(dd);
          }
          //- console.dir(data)
          console.dir(data2);

          //- 数据json化(使用jquery.json插件)
          data2 = $.toJSON( data2 )

          //- 数据存入textarea里
          $("#outputTemp").val(data2);
          return true;
        });
      }
      $(onDomReady);
    })()